DATABASE_URL="mysql://root:password@localhost:3310/agendamento_palco"
SMSBARATO_API_KEY=""
SMSBARATO_BASE_URL="https://sistema81.smsbarato.com.br"
SMSBARATO_TEMPLATE_APPROVED="nibtb_confirmado1"
SMSBARATO_TEMPLATE_REJECTED="nibtb_reprovado1"
SMSBARATO_TEMPLATE_PENDING_ADMIN="nibtb_pending1"
